button {
  background: none;
  border: 1px solid black;
  cursor: pointer;
  font-size: 22px;
  margin-top: 20px;
  width: 100%;
}

button:hover {
  background: black;
  color: white;
}

#loading {
  padding: 30px;
  text-align: center;
  width: 100%;
}

#cards-counter {
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

#flashcard {
  height: 300px;
  max-width: 1000px;
  width: 100%;
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

#flashcard.flipped {
  transform: rotateY(180deg)
}

#flashcard-back,
#flashcard-front {
  cursor: pointer;
  height: 100%;
}

#flashcard-back {
  transform: rotateY(180deg)
}

.flashcard-face {
  /* https://stripesgenerator.com/ */
  background-image: linear-gradient(0deg, #f0f0f0 49.30%, #bfbfbf 49.30%, #bfbfbf 50%, #f0f0f0 50%, #f0f0f0 99.30%, #bfbfbf 99.30%, #bfbfbf 100%);
  background-size: 142.00px 142.00px;
  background-position: right 0px bottom 5px;
  border: 1px solid #7d7d7d;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 9px -2px #000000;
  box-shadow: 0px 1px 9px -2px #000000;
  color: black;
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}

#flashcard-back-content,
#flashcard-front-content {
  font-size: 50px;
  height: 50px;
  margin-top: -50px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.controls button {
  border: none;
  bottom: 0;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 28px;
  position: absolute;
  text-align: center;
  width: 50%;
}

.controls button:hover {
  opacity: 0.7;
}

#btn-success {
  background-color: #4CAF50;
  border-bottom-left-radius: 10px;
  left: 0;
}

#btn-fail {
  background-color: #E30E0E;
  border-bottom-right-radius: 10px;
  right: 0;
}

h3 {
  text-align: center;
}
